<div class="sidebar">
  <h1 class="title">Settings</h1>
  <!-- send updated settings via AJAX -->
  <form id="settings_form">
    {% csrf_token %}
    <h3>Notification Methods</h3>
    <div>
      <h4>Email</h4>
      <label for="">Yes</label>
      <input type="radio" name="email" value="true">
      <label for="">No</label>
      <input type="radio" name="email" value="false">
    </div>
    <div>
      <h4>Text Message</h4>
      <label for="">Yes</label>
      <input type="radio" name="txt" value="true">
      <label for="">No</label>
      <input type="radio" name="txt" value="false">
    </div>
    <div class="control">
      <label for="phonenumber">Phone Number: </label>
      <input type="text" name="phonenumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="000-000-0000">
      <p>Optional</p>
    </div>
    <input type="submit" value="save">
  </form>
</div>
