{% extends "main/base.html" %}
{% block title %} Sign In Page {% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<p class="alert alert-primary">{{ message }}</p>
{% endfor %}
{% endif %}
<h3>Signin</h3>
<form action="{% url 'index:login' %}" method="post">
  {% csrf_token %}
  <label for="username">Username:</label>
  <input type="username" name="username" id="username" required>
  <label for="password">Password: </label>
  <input type="password" name="password" id="password" required>
  <input type="submit" value="Sign In">
</form>
<p><a href="{% url 'index:register' %}">Don't have an account? Register.</a></p>
{% endblock %}
