<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>Edit User</title>
    <link href="{% static 'users/style.css' %}" rel ="stylesheet" type="text/css">
    <meta name="description" content="restful(ish) app for users">
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Edit User {{ id }}</h1>
    <form method="post" action="{% url 'users:update' %}">
      {% csrf_token %}
      {{ edit_user }}
      <input type="hidden" name="id" value="{{id}}">
      <input type="submit" value="Update">
    </form>
  </body>
</html>
