<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>New User</title>
    <link href="{% static 'users/style.css' %}" rel ="stylesheet" type="text/css">
    <meta name="description" content="restful(ish) app for users">
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Add a new user</h1>
    <form method="post" action="{% url 'users:create' %}">
      {% csrf_token %}
      {{ new_user }}
      <input type="submit" value="Create">
    </form>
    <p><a href="{% url 'users:index' %}">Go Back</a></p>
  </body>
</html>
