<!doctype html>
<html>
  <head>
    <title>Add Book and Review</title>
  </head>
  <body>
    <nav>
      <a href="/books">Home</a>
      <a href="/logout">Logout</a>
    </nav>
    {% load app_tags %}
    {% for message in messages %}
    <p> {{ message }}</p>
    {% endfor %}
    <h3>{{book.title}}</h3>
    <h4>Author: </h4><p>{{book.author.name }}</p>
    <h3>Reviews</h3>
    <hr>
    {% for review in reviews %}
    <p>Rating
      {% for num in review.rating|get_range %}
      *
      {% endfor %}
    </p>
    <p>{{ review.user.name }} says {{ review.review }}</p>
    <p>Posted on {{ review.created_at }}</p>
      {% if request.session.user_id == review.user.id %}
      <p><a href="/books/destroy_review/{{review.id}}">Delete this review</a><p>
      <hr>
      {% endif %}
    {% endfor %}
    <form action="/books/add_review/{{book.id}}" method="post">
      {% csrf_token %}
      <label for="review">Review: </label><br>
      <textarea name="review"></textarea>
      <label for="rating">Rating:
      <input type="number" min=0 max=5 name="rating">
      stars.
      </label>
      <input type="submit" value="Add Review">
    </form>
  </body>
</html>
