<section class="hero features">
  <div class="columns">
    <div class="column">
      <div class="card feature">
        <div class="card_content">
          <p class="content">
            Are you the type of person that never remembers what day it is?
            Walking through life completly disorganized? Look no further! An easy way to manager all of your appointments
            and track your daily tasks is here!
          </p>
          <p class="has-text-centered"><span class="icon is-large"><i class="fas fa-clock"></i></span></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card feature">
        <div class="card_content">
          <p class="content">
            A simple solution to keep track of all your dates. Easily create, edit, and delete future dates. Today's appointments are
            displayed in a simple, clear manner that allows you to quickly manage your day.
          </p>
          <p class="has-text-centered"><span class="icon is-large"><i class="fas fa-clock"></i></span></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card feature">
        <div class="card_content">
          <p class="content">
            Set up reminders via text or email to make sure you get to all your daily appointments.
            Never miss another conference call, meeting, or date again!
          </p>
          <p class="has-text-centered"><span class="icon is-large"><i class="fas fa-clock"></i></span></p>
        </div>
      </div>
    </div>
  </div>
</section>
