  {% extends "main/base.html" %}
  {% block title %} Appointment App Register {%endblock %}
  {% block content %}

  <section class="hero is-bold is-fullheight">
    <div class="hero-body has-text-centered welcome">
      <div class="container">
        <h1 class="title">Welcome</h1>
        <h2 class="subtitle">Please Register or Login to the Appointment App</h2>
        <!-- MESSAGES -->
        {% if messages %}
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
        <!-- END MESSAGES -->
      </div>
    </div>
    {% include 'main/features.html' %}
    {% include 'main/login_register.html' %}
    <div class="hero-foot"></div>
  </section>
  </body>
</html>
{% endblock %}
