<section class="wrapper">
  <div class="columns">
    <div class="column">
      <form action="{% url 'main:register' %}" method="post">
        {% csrf_token %}
        <fieldset>
          <legend>Register</legend>
          <div class="field">
            <label for="" class="label">Name</label>
            <div class="control">
              <input type="text" placeholder="name" name="name">
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Email</label>
            <div class="control">
              <input type="email" placeholder="email" name="email">
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Password</label>
            <div class="control">
              <input type="password" name="password"></input>
            </div>
          </div>
          {% if password_error %}
          <p>Password should be at least 8 characters</p>
          {% endif %}
          <div class="field">
            <label for="password_conf" class="label">Confirm PW: </label>
            <div class="control">
              <input type="password" name="password_confirmation" id="password_conf">
            </div>
          </div>
          <div class="field">
            <label for="birthdate" class="label">Date of Birth</label>
            <div class="control">
              <input type="date" placeholder="YYYY-MM-DD" pattern='[0-9]{4}-[0-9]{2}-[0-9]{2}' name="birthdate">
            </div>
          </div>
          <div class="field">
            <input type="submit" value="Register" class="button is-primary">
          </div>
        </fieldset>
      </form>
    </div>
    <div class="column">
      <form class="" action="{% url 'main:login' %}" method="post">
        {% csrf_token %}
        <fieldset>
          <legend>Login</legend>
          <p>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
          </p>
          <p>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
          </p>
          <p>
            <input type="submit" value="Login" class="button is-primary">
          </p>
        </fieldset>
      </form>
      </column>
    </div>