<!doctype html>
<html>
  <head>
    <title>Course Comments</title>
    <meta charset="utf-8">
    <meta name="description" content="courses">
  </head>
  <body>
    <h2>See what people are saying about {{course.course_name}}</h2>
    <h2>Comments</h2>
    {% for comment in comments %}
      <p>{{comment.comment}}</p>
    {% empty %}
      <p>Be the first to leave a comment</p>
    {% endfor %}
    <h3>Add a comment!</h3>
    <form method="post" action="{% url 'comments' course.id %}">
      {% csrf_token %}
      {{ CommentForm }}
      <input type="submit" value="Submit">
    </form>
    <a href="{% url 'index' %}">Go back</a>
  </body>
</html>
