.hero-head {
  padding-top: 20px;
}
.center {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  display: flex;
}

fieldset {
  border: none;
  border-radius: 20px;
  padding: 60px;
  box-shadow: 3px 6px 6px black;
  background-color: blue;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
legend {
  font-size: 2rem;
  position: relative;
  top: 25px;
}
.third {
  width: 30%;
  padding: 10px;
}
.third input[type="text"]{
  width: 100%;
}
.sidebar {
  display: none;

}
.settings {
  height: 100%;
  background-color: white;
}
i {
  margin-left: 2px;
}
@media screen and (max-width: 720px){

  .hero-body {
    flex-direction: column;
  }
  fieldset {
    padding: 20px;
    width: 100%;
  }
  .third {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
