<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <title>Login and Reg | Home </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login/style.css' %}" type="text/css">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="container">
      <h1>Success, Welcome, {{ request.session.user.first_name }}</h1>
    </div>
  </body>
</html>
