<!doctype>
<html>
  <head>
    {% load static %}
    <title>Amadon Shopping Cart</title>
    <link href="{% static 'main/style.css' %}" type="text/css" rel="stylesheet">
  </head>
  <body>
    <h1>What would you like to buy?</h1>
      <table>
        <thead>
          <tr>
            <td>Quantity</td>
            <td>Item</td>
            <td>Price</td>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <form method="post" action="/buy">
              {% csrf_token %}
              <input type="hidden" name="product_id" value="{{product.id}}">
              <td>{{ product.product }}</td>
              <td><input type="number" min="0" max="10" name="qty"></td>
              <td>{{ product.price }}</td>
              <td><input type="submit" value="Buy"</td>
            </form>
          </tr>
          {% endfor %}
      </tbody>
      </table>
    </form>
  </body>
</html>
