{% extends "main/base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
{% if messages %}
  <ul>
  {% for message in messages %}
    <li>{{message}}</li>
  {% endfor %}
  </ul>
{% endif %}
<h1>Manage Users</h1>
{% if user.is_staff %}
  <a href="{% url 'users:new' %}" class="btn btn-primary">Add New</a>
{% endif %}
<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>email</td>
      <td>created_at</td>
      <td>user_level</td>
      {% if user.is_staff %}
        <td>actions</td>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for u in users %}
    <tr>
      <td>{{ u.id }}</td>
      <td><a href="{% url 'users:show' u.id %}">{{ u.first_name }} {{ u.last_name }}</a></td>
      <td>{{u.email}}</td>
      <td>{{ u.date_joined }}</td>
      <td>
        {% if u.is_staff %}
        admin
        {% else %}
        normal
        {% endif %}
      </td>
      {% if user.is_staff %}
        <td>
          <a href="{% url 'users:edit' user.id %}">edit </a>
          <a href="{% url 'users:remove' user.id %}">remove</a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
