<div class="row">
  <div class="col-md-6">
    <form action="{% url 'users:update' user.id %}" method="post">
      {% csrf_token %}
        <fieldset>
          <input type="hidden" name="type" value="info">
          <legend>Edit Information</legend>
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" name="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name" class="form-control" id="first_name">
          </div>
          <div class="form-group">
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name" class="form-control" id="last_name">
          </div>
          <input type="submit" class="btn btn-primary" value="Save">
        </fieldset>
    </form>
  </div>
  <div class="col-md-6">
    <form action="{% url 'users:update' user.id %}" method="post">
        {% csrf_token %}
      <fieldset>
        <legend>Change Password</legend>
        <input type="hidden" name="type" value="password">
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="form-group">
          <label for="password_conf">Password Confirmation: </label>
          <input type="password" name="password_conf" class="form-control" id="password_conf">
        </div>
        <input type="submit" class="btn btn-primary" value="Update Password">
      </fieldset>
    </form>
  </div>
</div>
