<div class="row">
  <div class="col-md-6">
    <form action="{% url 'users:update'  %}" method="post">
      {% csrf_token %}
        <fieldset>
          <input type="hidden" name="type" value="info">
          <legend>Edit Information</legend>
          {{ change_info }}
          <input type="submit" class="btn btn-primary" value="Save">
        </fieldset>
    </form>
  </div>
  <div class="col-md-6">
    <form action="{% url 'users:update' %}" method="post">
        {% csrf_token %}
        {% include 'registration/password_change_form.html' %}
        <input type="submit" class="btn btn-primary" value="Update Password">
      </fieldset>
    </form>
  </div>
</div>
